autoflake~=1.7
black~=23.3
dbt-tests-adapter~=1.5.0
flake8~=5.0
Flake8-pyproject~=1.2
isort~=5.11
moto~=4.1.11
pre-commit~=2.21
pyparsing~=3.0.9
pytest~=7.3
pytest-cov~=4.1
pytest-dotenv~=0.5
pytest-xdist~=3.3
pyupgrade~=3.3
