autoflake~=1.7
black~=23.9
boto3-stubs[s3]~=1.28
dbt-tests-adapter~=1.6.5
flake8~=6.1
Flake8-pyproject~=1.2
isort~=5.11
moto~=4.2.5
pre-commit~=3.4
pyparsing~=3.1.1
pytest~=7.4
pytest-cov~=4.1
pytest-dotenv~=0.5
pytest-xdist~=3.3
pyupgrade~=3.15
