name: "Pull request checks"

on:
  pull_request:
    types: [opened, reopened, synchronize, labeled]

# only run this once per PR at a time
concurrency:
  group: ${{ github.workflow }}-${{ github.event.number }}
  cancel-in-progress: true

jobs:
  code-quality:
    uses: ./.github/workflows/code-quality.yml
    with:
      branch: ${{ github.event.pull_request.head.ref }}
      repository: ${{ github.event.pull_request.head.repo.full_name }}

  unit-tests:
    uses: ./.github/workflows/unit-tests.yml
    with:
      package: ${{ matrix.package }}
      branch: ${{ github.event.pull_request.head.ref }}
      repository: ${{ github.event.pull_request.head.repo.full_name }}
    strategy:
      matrix:
        package: ["dbt-athena", "dbt-athena-community"]

  integration-tests:
    if: contains(github.event.pull_request.labels.*.name, 'ci:integration-tests')
    uses: ./.github/workflows/integration-tests.yml
    with:
      # integration test runs can't run in parallel for now, so only run dbt-athena
      # both will run post merge and unit tests run for both, so this is sufficient
      branch: ${{ github.event.pull_request.head.ref }}
      repository: ${{ github.event.pull_request.head.repo.full_name }}
    secrets: inherit

  # This job does nothing and is only used for branch protection
  results:
    name: "Pull request checks"
    if: always()
    needs:
    - code-quality
    - unit-tests
    - integration-tests
    runs-on: ubuntu-latest
    steps:
    - uses: re-actors/alls-green@release/v1
      with:
        jobs: ${{ toJSON(needs) }}
        allowed-skips: integration-tests
